#container{
	width: 70%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: green;
}

.md{
	padding: 20px;
	left: 50%;
	right: 50%;
	position: relative;
	width: 500px;
	margin-left: -250px;
}

.md1{
	padding: 20px;
	width: 220px;
	margin-left: -110px;
	position: relative;
	left: 50%;
	right: 50%;
}

#link{
	position: relative;
	left: 50%;
	right: 50%;
	width: 400px;
	margin-left: -200px;
}

#title{
	margin-left: 15%;
}

#text{
	margin-left: 10%;
	margin-right: 10%;
}

img {
	width: 50%;
	height: 50%;
	margin-left: 25%;
}